<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body>
    <h1> Welcome user <%= user %> to ATN shop</h1>
    <%- view_products %>
    <a href="/logout" class="header_logout">Logout</a>
  </body>
</html>
